@model InsuranceAgent.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Customer</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FirstName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FirstName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.MiddleName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.MiddleName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.LastName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.LastName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Family.FamilyName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Family.FamilyName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Address2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Address2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.City)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.City)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.HomePhone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.HomePhone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.PrimaryMobile)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.PrimaryMobile)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SecondaryMobile)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SecondaryMobile)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Email)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Email)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Profession)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Profession)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Occupation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Occupation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Height)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Height)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Weight)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Weight)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.SkinColor)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.SkinColor)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.VisibleMark)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.VisibleMark)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.BloodGroup)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.BloodGroup)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Details)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Details)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Relation)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Relation)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RelationCustomerID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RelationCustomerID)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UDK1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UDK1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UDK2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UDK2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UDK3)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UDK3)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UDK4)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UDK4)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UDK5)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UDK5)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreatedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreatedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdatedDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdatedDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdatedByID)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdatedByID)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CustomerID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
