@model InsuranceAgent.Models.LoginModel

@{
    ViewBag.Title = "Log in";
}

    <h2>Log In</h2>

<section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Log in Form</legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName, new {@class="txt_mobile" })
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new {@class="txt_password" })
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            @*<li>
                @Html.CheckBoxFor(m => m.RememberMe)
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
            </li>*@
        </ol>
        <input type="submit" value="Log in" />
    </fieldset>    
}
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
